Repository m0neZ/desAInz: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, flow, stylelint

eslint:
  name: eslint
  entry: eslint
  language: node
  additional_dependencies:
  - eslint
  args:
  - --max-warnings=0
  - --cache

prettier:
  name: prettier
  entry: prettier
  language: node
  additional_dependencies:
  - prettier
  args:
  - --write

flow:
  name: flow
  entry: flow
  language: node
  additional_dependencies:
  - flow-bin
  args:
  - check
  - --show-all-errors

stylelint:
  name: stylelint
  entry: stylelint
  language: node
  additional_dependencies:
  - stylelint
  args:
  - --max-warnings
  - '0'
  - --cache

Refactor tests to use settings fixtures
  backend/monitoring/src/monitoring/main.py
  backend/monitoring/src/monitoring/pagerduty.py
  backend/monitoring/tests/test_pagerduty.py
  backend/monitoring/tests/test_queue_backlog.py
  tests/test_monitoring.py
  tests/test_pagerduty.py
  tests/test_sla.py
Due: none

feat: add prebuilt model and dataset support
  .env.dev.example
  .env.quickstart.example
  .env.staging.example
  backend/.env.example
  backend/feedback-loop/.env.example
  backend/feedback-loop/.env.quickstart.example
  backend/mockup-generation/.env.example
  backend/mockup-generation/.env.quickstart.example
  backend/mockup-generation/mockup_generation/generator.py
  backend/monitoring/.env.example
  backend/monitoring/.env.quickstart.example
  backend/orchestrator/.env.example
  backend/orchestrator/.env.quickstart.example
  backend/shared/.env.example
  backend/shared/clip.py
  backend/shared/config.py
  docs/index.rst
  docs/prebuilt_resources.md
  prebuilt/datasets/README.md
  prebuilt/datasets/mock_data.csv
  prebuilt/models/README.md
  scripts/download_resources.py
Due: prettier

docs: update roadmap and plan
  TODO.md
  docs/implementation_plan.md
Due: prettier

docs: add environment descriptions to alembic configs
  backend/shared/db/alembic_api_gateway.ini
  backend/shared/db/alembic_marketplace_publisher.ini
  backend/shared/db/alembic_mockup_generation.ini
  backend/shared/db/alembic_scoring_engine.ini
  backend/shared/db/alembic_signal_ingestion.ini
Due: none

docs: detail env vars for backend services
  backend/.env.example
  backend/analytics/.env.example
  backend/api-gateway/.env.example
  backend/feedback-loop/.env.example
  backend/marketplace-publisher/.env.example
  backend/mockup-generation/.env.example
  backend/monitoring/.env.example
  backend/optimization/.env.example
  backend/orchestrator/.env.example
  backend/scoring-engine/.env.example
  backend/service-template/.env.example
  backend/shared/.env.example
  backend/signal-ingestion/.env.example
Due: none

Add Auth0 login flow and token validation
  backend/api-gateway/src/api_gateway/auth.py
  backend/api-gateway/src/api_gateway/routes.py
  backend/api-gateway/src/api_gateway/settings.py
  backend/api-gateway/tests/test_auth.py
  frontend/__tests__/auth_button.test.tsx
  frontend/admin-dashboard/__mocks__/@auth0/nextjs-auth0/client.js
  frontend/admin-dashboard/src/components/AuthButton.tsx
Due: eslint, prettier, flow

Add Auth0 validation endpoint and update settings
  backend/api-gateway/src/api_gateway/auth.py
  backend/api-gateway/src/api_gateway/settings.py
  backend/api-gateway/tests/test_auth.py
  backend/shared/regex_utils.py
Due: none

feat(feedback-loop): schedule marketplace metrics ingestion
  backend/feedback-loop/feedback_loop/ingestion.py
  backend/feedback-loop/tests/test_ingestion.py
Due: none

feat(publisher): check trademarks on publish
  backend/marketplace-publisher/src/marketplace_publisher/publisher.py
  backend/marketplace-publisher/tests/test_trademark.py
Due: none

Add AB test page and reusable components
  frontend/admin-dashboard/__tests__/gallery.test.tsx
  frontend/admin-dashboard/__tests__/heatmap.test.tsx
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/components/Gallery.tsx
  frontend/admin-dashboard/src/components/Heatmap.tsx
  frontend/admin-dashboard/src/pages/ab-tests.tsx
  package-lock.json
  package.json
Due: eslint, prettier

fix: expand merge migrations
  backend/shared/db/migrations/scoring_engine/versions/0003_merge_heads.py
  backend/shared/db/migrations/scoring_engine/versions/0010_merge_heads.py
  docs/migrations.md
Due: prettier

Add blue-green overlay and update smoke test
  infrastructure/k8s/README.md
  infrastructure/k8s/overlays/blue-green/admin-dashboard-blue-deployment.yaml
  infrastructure/k8s/overlays/blue-green/admin-dashboard-green-deployment.yaml
  infrastructure/k8s/overlays/blue-green/admin-dashboard-service.yaml
  infrastructure/k8s/overlays/blue-green/api-gateway-blue-deployment.yaml
  infrastructure/k8s/overlays/blue-green/api-gateway-green-deployment.yaml
  infrastructure/k8s/overlays/blue-green/api-gateway-service-selector-blue.yaml
  infrastructure/k8s/overlays/blue-green/kustomization.yaml
  scripts/smoke_compose.sh
Due: prettier

Add benchmark scripts and nightly workflow
  .github/workflows/nightly-benchmark.yml
  docs/performance.md
  docs/scripts.rst
  scripts/benchmark_mockup.py
  scripts/benchmark_score.py
Due: prettier

docs: detail env vars
  backend/api-gateway/src/api_gateway/main.py
  backend/marketplace-publisher/src/marketplace_publisher/clients.py
  backend/marketplace-publisher/src/marketplace_publisher/notifications.py
  backend/monitoring/src/monitoring/main.py
  backend/optimization/api.py
  backend/orchestrator/orchestrator/ops.py
  backend/orchestrator/orchestrator/sensors.py
  backend/signal-ingestion/src/signal_ingestion/publisher.py
  docs/conf.py
Due: none

Add ServiceMonitor resources and helm templates
  infrastructure/helm/ai-mockup-generation/templates/service-monitor.yaml
  infrastructure/helm/data-storage/templates/service-monitor.yaml
  infrastructure/helm/feedback-loop/templates/service-monitor.yaml
  infrastructure/helm/marketplace-publisher/templates/service-monitor.yaml
  infrastructure/helm/monitoring/templates/service-monitor.yaml
  infrastructure/helm/orchestrator/templates/service-monitor.yaml
  infrastructure/helm/scoring-engine/templates/service-monitor.yaml
  infrastructure/helm/signal-ingestion/templates/service-monitor.yaml
  infrastructure/k8s/base/ai-mockup-generation-service-monitor.yaml
  infrastructure/k8s/base/analytics-service-monitor.yaml
  infrastructure/k8s/base/api-gateway-service-monitor.yaml
  infrastructure/k8s/base/feedback-loop-service-monitor.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/loki-service-monitor.yaml
  infrastructure/k8s/base/marketplace-publisher-service-monitor.yaml
  infrastructure/k8s/base/monitoring-service-monitor.yaml
  infrastructure/k8s/base/optimization-service-monitor.yaml
  infrastructure/k8s/base/scoring-engine-service-monitor.yaml
  infrastructure/k8s/base/signal-ingestion-service-monitor.yaml
Due: none

Add background metric collection and endpoint
  backend/optimization/api.py
  backend/optimization/tests/test_metrics_collection.py
  conftest.py
  docs/optimization.md
Due: prettier

Add type hints and mypy configuration
  backend/marketplace-publisher/tests/test_trademark.py
  mypy.ini
Due: none

docs: explain offline testing
  docs/frontend/offline.md
Due: prettier

ci: add health checks and rollback
  .github/workflows/pipeline.yml
  docs/deployment.md
Due: prettier

test: add VCR tests for marketplace clients
  backend/marketplace-publisher/tests/vcr/cassettes/amazon_merch_client.yaml
  backend/marketplace-publisher/tests/vcr/cassettes/etsy_client.yaml
  backend/marketplace-publisher/tests/vcr/cassettes/redbubble_client.yaml
  backend/marketplace-publisher/tests/vcr/cassettes/society6_client.yaml
  backend/marketplace-publisher/tests/vcr/cassettes/zazzle_client.yaml
  backend/marketplace-publisher/tests/vcr/test_clients_vcr.py
Due: none

test: check rate limiter metrics
  backend/api-gateway/tests/test_rate_limit.py
Due: none

feat(publisher): invalidate CDN cache on upload
  backend/marketplace-publisher/src/marketplace_publisher/publisher.py
  tests/test_cdn_invalidation.py
Due: none

feat(frontend): add zustand store and animations
  flow-typed/npm/@tanstack/react-query_vx.x.x.js
  flow-typed/npm/flow-bin_vx.x.x.js
  flow-typed/npm/react_vx.x.x.js
  frontend/__tests__/accessibility.test.tsx
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/components/Button.tsx
  frontend/admin-dashboard/src/components/PaginationControls.tsx
  frontend/admin-dashboard/src/hooks/useLowPerformers.ts
  frontend/admin-dashboard/src/hooks/useStore.ts
  frontend/admin-dashboard/src/layouts/AdminLayout.tsx
  frontend/admin-dashboard/src/pages/_app.tsx
  frontend/admin-dashboard/src/pages/dashboard/low-performers.tsx
  frontend/admin-dashboard/src/pages/dashboard/preferences.tsx
Due: eslint, prettier, flow

feat(orchestrator): add scheduler deployment
  .github/workflows/docker.yml
  backend/api-gateway/src/api_gateway/routes.py
  backend/orchestrator/tests/test_failure_sensor.py
  backend/orchestrator/tests/test_privacy_job.py
  backend/orchestrator/tests/test_spot_nodes_job.py
  docker-compose.prod.yml
  docs/index.rst
  docs/orchestrator.rst
  infrastructure/helm/orchestrator/templates/deployment.yaml
  scripts/__init__.py
  scripts/run_dagster_daemon.py
  scripts/run_dagster_daemon.sh
Due: none

Add metrics proxy endpoints and orchestrator logging
  backend/api-gateway/src/api_gateway/routes.py
  backend/orchestrator/orchestrator/ops.py
  docker/prometheus/prometheus.yml
  tests/test_metrics_endpoints.py
Due: none

Add analytics deployment
  .github/workflows/docker.yml
  backend/analytics/Dockerfile
  backend/analytics/requirements.txt
  docker-compose.prod.yml
  docker-compose.yml
  docs/deployment.md
  infrastructure/helm/analytics/Chart.yaml
  infrastructure/helm/analytics/templates/_helpers.tpl
  infrastructure/helm/analytics/templates/deployment.yaml
  infrastructure/helm/analytics/templates/hpa.yaml
  infrastructure/helm/analytics/templates/service-monitor.yaml
  infrastructure/helm/analytics/templates/service.yaml
  infrastructure/helm/analytics/values-dev.yaml
  infrastructure/helm/analytics/values-prod.yaml
  infrastructure/helm/analytics/values-production.yaml
  infrastructure/helm/analytics/values-staging.yaml
  infrastructure/helm/analytics/values.yaml
Due: prettier

docs: outline staging QA plan and UAT checklist
  README.md
  docs/staging_manual_qa.md
Due: prettier

fix: allow historical merge branches in migration validation
  scripts/validate_migrations.sh
Due: none

Add queue metrics autoscaling
  docs/mockup_generation.md
  docs/performance.md
  infrastructure/helm/marketplace-publisher/templates/hpa.yaml
  infrastructure/helm/marketplace-publisher/values-dev.yaml
  infrastructure/helm/marketplace-publisher/values-prod.yaml
  infrastructure/helm/marketplace-publisher/values-production.yaml
  infrastructure/helm/marketplace-publisher/values-staging.yaml
  infrastructure/helm/marketplace-publisher/values.yaml
  infrastructure/helm/signal-ingestion/templates/hpa.yaml
  infrastructure/helm/signal-ingestion/values-dev.yaml
  infrastructure/helm/signal-ingestion/values-prod.yaml
  infrastructure/helm/signal-ingestion/values-production.yaml
  infrastructure/helm/signal-ingestion/values-staging.yaml
  infrastructure/helm/signal-ingestion/values.yaml
  infrastructure/k8s/base/marketplace-publisher-hpa.yaml
Due: prettier

docs: add missing module references
  docs/api/backend.analytics.rst
  docs/api/backend.optimization.rst
  docs/api/backend.optimization.tests.rst
  docs/api/backend.orchestrator.orchestrator.rst
  docs/api/backend.orchestrator.rst
  docs/api/backend.orchestrator.tests.rst
  docs/api/backend.rst
  docs/api/backend.shared.auth.rst
  docs/api/backend.shared.db.rst
  docs/api/backend.shared.kafka.rst
  docs/api/backend.shared.rst
  docs/api/modules.rst
  docs/conf.py
  docs/index.rst
  docs/source/generated/api_gateway.api_gateway.rst
  docs/source/generated/backend.analytics.backend.analytics.rst
  docs/source/generated/backend.optimization.backend.optimization.rst
  docs/source/generated/marketplace_publisher.marketplace_publisher.rst
  docs/source/generated/mockup_generation.mockup_generation.rst
  docs/source/generated/monitoring.monitoring.rst
  docs/source/generated/orchestrator.orchestrator.rst
  docs/source/generated/scoring_engine.scoring_engine.rst
  docs/source/generated/signal_ingestion.signal_ingestion.rst
Due: none

feat(publisher): alert on policy rejection
  backend/marketplace-publisher/src/marketplace_publisher/publisher.py
  backend/marketplace-publisher/tests/test_policy_failures.py
  docs/monitoring.md
Due: prettier

feat(store): add user and preference stores
  frontend/admin-dashboard/__tests__/store.test.ts
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/hooks/useAuthFetch.ts
  frontend/admin-dashboard/src/pages/dashboard/preferences.tsx
  frontend/admin-dashboard/src/store/usePreferenceStore.ts
  frontend/admin-dashboard/src/store/useUserStore.ts
Due: eslint, prettier

Add idea_job integration test with SQLite
  .github/workflows/tests.yml
  tests/integration/cassettes/idea_job.yaml
  tests/integration/test_idea_sqlite.py
Due: none

Add cost alert feature and monthly cost estimation
  backend/optimization/api.py
  backend/optimization/metrics.py
  backend/optimization/tests/test_api_routes.py
  backend/optimization/tests/test_metrics_analyzer.py
  docs/optimization.md
  openapi/api-gateway.json
  openapi/optimization.json
Due: prettier

feat: add approval rejection ui and polling
  backend/api-gateway/src/api_gateway/routes.py
  backend/api-gateway/tests/test_approvals.py
  backend/orchestrator/orchestrator/ops.py
  frontend/admin-dashboard/app/approvals/page.tsx
  frontend/admin-dashboard/e2e/approvals.spec.ts
  frontend/admin-dashboard/src/pages/approvals.tsx
  frontend/admin-dashboard/src/trpc.ts
Due: eslint, prettier

docs: expand cloud deployment guides
  docs/cloud_deployment.md
Due: prettier

feat(frontend): add user and preference stores
  frontend/admin-dashboard/__tests__/store.test.ts
  frontend/admin-dashboard/src/pages/_app.tsx
  frontend/admin-dashboard/src/pages/dashboard/preferences.tsx
  frontend/admin-dashboard/src/store/usePreferencesStore.ts
  frontend/admin-dashboard/src/store/useUserStore.ts
Due: eslint, prettier

Add analytics service deployment
  .env.dev.example
  .env.example
  .env.prod.example
  .env.quickstart.example
  .env.staging.example
  .github/workflows/pipeline.yml
  backend/analytics/Dockerfile
  backend/api-gateway/src/api_gateway/routes.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/deployment.md
  infrastructure/helm/all-services/Chart.yaml
  infrastructure/helm/analytics/Chart.yaml
  infrastructure/helm/analytics/templates/deployment.yaml
  infrastructure/helm/analytics/templates/hpa.yaml
  infrastructure/helm/analytics/templates/service-monitor.yaml
  infrastructure/helm/analytics/templates/service.yaml
  infrastructure/helm/analytics/values-dev.yaml
  infrastructure/helm/analytics/values-prod.yaml
  infrastructure/helm/analytics/values-production.yaml
  infrastructure/helm/analytics/values-staging.yaml
  infrastructure/helm/analytics/values.yaml
  tests/test_metrics_endpoints.py
  tests/utils.py
Due: prettier

Use asyncio.sleep in Selenium fallback
  backend/marketplace-publisher/src/marketplace_publisher/clients.py
  tests/test_selenium_e2e.py
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|md)$
  flow: any of: \.(js|jsx)$
  stylelint: any of: \.(css|scss)$
