Repository m0neZ/desAInz: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, flow, stylelint

eslint:
  name: eslint
  entry: eslint
  language: node
  additional_dependencies:
  - eslint
  args:
  - --max-warnings=0
  - --cache

prettier:
  name: prettier
  entry: prettier
  language: node
  additional_dependencies:
  - prettier
  args:
  - --write

flow:
  name: flow
  entry: flow
  language: node
  additional_dependencies:
  - flow-bin
  args:
  - check
  - --show-all-errors

stylelint:
  name: stylelint
  entry: stylelint
  language: node
  additional_dependencies:
  - stylelint
  args:
  - --max-warnings
  - '0'
  - --cache

feat(storage): paginate metric retrieval
  backend/optimization/api.py
  backend/optimization/metrics.py
  backend/optimization/storage.py
  backend/optimization/tests/test_metrics_memory.py
  backend/optimization/tests/test_metrics_store.py
  tests/integration/test_full_flow.py
  tests/integration/test_pipeline_metrics.py
  tests/test_metrics_ingestion.py
  tests/test_resource_metrics_store.py
Due: none

refactor optimization storage pooling
  backend/optimization/storage.py
  docs/performance.md
  docs/scripts.rst
  scripts/benchmark_metrics_store.py
Due: prettier

feat(orchestrator): async scoring
  backend/orchestrator/orchestrator/ops.py
  backend/orchestrator/tests/test_score_signals.py
Due: none

feat(orchestrator): concurrent publish with semaphore
  backend/orchestrator/orchestrator/ops.py
  backend/orchestrator/tests/test_ops_integration.py
Due: none

Optimize batch insertion
  backend/signal-ingestion/src/signal_ingestion/tasks.py
  tests/performance/test_adapter_performance.py
Due: none

Delete docs/blueprints directory
  docs/blueprints/DesignIdeaEngineCompleteBlueprint.md
Due: prettier

Optimize embedding insertion
  backend/scoring-engine/scoring_engine/tasks.py
  backend/scoring-engine/tests/test_tasks.py
  backend/shared/currency.py
  scripts/generate_openapi.py
  tests/performance/test_adapter_performance.py
Due: none

refactor(kafka): make flushing optional
  backend/shared/kafka/utils.py
  tests/test_kafka_utils.py
Due: none

feat(scoring): manual engagement zscore
  backend/scoring-engine/scoring_engine/scoring.py
  backend/scoring-engine/tests/test_scoring.py
Due: none

feat(frontend): enhance accessibility and transitions
  frontend/admin-dashboard/__tests__/navigation.test.tsx
  frontend/admin-dashboard/__tests__/toggleButton.test.tsx
  frontend/admin-dashboard/scripts/monitorAndStart.js
  frontend/admin-dashboard/src/components/Button.tsx
  frontend/admin-dashboard/src/components/Gallery.tsx
  frontend/admin-dashboard/src/components/PaginationControls.tsx
  frontend/admin-dashboard/src/pages/dashboard/analytics.tsx
  frontend/admin-dashboard/src/pages/dashboard/low-performers.tsx
Due: eslint, prettier, flow

docs: finalize deployment instructions
  docs/README.md
  docs/deployment.md
Due: prettier

Add analytics service routes and deployment
  backend/analytics/api.py
  backend/api-gateway/src/api_gateway/routes.py
  docs/deployment.md
  infrastructure/k8s/base/analytics-deployment.yaml
  infrastructure/k8s/base/analytics-service.yaml
Due: prettier

docs: update staging QA results
  README.md
  docs/staging_manual_qa.md
Due: prettier

Make mockup generator asynchronous
  backend/mockup-generation/mockup_generation/generator.py
  backend/mockup-generation/mockup_generation/tasks.py
  backend/mockup-generation/tests/test_generator_comfyui.py
  backend/mockup-generation/tests/test_performance.py
  scripts/benchmark_mockup.py
  scripts/cli.py
  tests/integration/test_pipeline_metrics.py
Due: none

Cache async http clients per loop
  backend/shared/http.py
  backend/shared/tests/test_http.py
  docs/architecture.rst
Due: none

Add orchestrator to compose and k8s
  docker-compose.yml
  docs/orchestrator.rst
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/orchestrator-deployment.yaml
  infrastructure/k8s/base/orchestrator-hpa.yaml
  infrastructure/k8s/base/orchestrator-service-monitor.yaml
  infrastructure/k8s/base/orchestrator-service.yaml
  tests/integration/test_workflow.py
Due: none

ci: enforce warnings and type checks
  .github/workflows/ci-cd.yml
  .github/workflows/lint.yml
  .github/workflows/pipeline.yml
  .github/workflows/tests.yml
  Makefile
Due: none

Add optimization hints and monitoring endpoints
  backend/api-gateway/src/api_gateway/routes.py
  backend/monitoring/tests/test_api_routes.py
  backend/optimization/api.py
  backend/optimization/tests/test_api_routes.py
  backend/orchestrator/orchestrator/ops.py
  docker-compose.yml
Due: none

feat: async comfyui workflow
  backend/mockup-generation/mockup_generation/comfy_workflow.py
  backend/mockup-generation/mockup_generation/generator.py
  backend/mockup-generation/tests/test_generator_comfyui.py
Due: none

Optimize trending factor retrieval with pipeline
  backend/scoring-engine/scoring_engine/app.py
  backend/scoring-engine/tests/test_trending_factor.py
Due: none

feat(dashboard): pause polling when page hidden
  frontend/admin-dashboard/__tests__/statusIndicator.test.tsx
  frontend/admin-dashboard/src/components/LatencyIndicator.tsx
  frontend/admin-dashboard/src/components/StatusIndicator.tsx
Due: eslint, prettier

Add concurrency limits for scoring and generation
  backend/orchestrator/README.md
  backend/orchestrator/orchestrator/ops.py
  backend/orchestrator/tests/test_generate_content.py
  backend/orchestrator/tests/test_score_signals.py
  docs/architecture.rst
Due: prettier

docs: document DB pool metrics
  README.md
  docs/monitoring.md
Due: prettier

docs: add profiling guidelines
  CONTRIBUTING.md
Due: prettier

Convert selected Dagster ops to async
  backend/orchestrator/orchestrator/ops.py
Due: none

Add explicit close methods and context management
  backend/monitoring/src/monitoring/main.py
  backend/monitoring/src/monitoring/metrics_store.py
  backend/optimization/api.py
  backend/optimization/storage.py
Due: none

Add async HTTP client cleanup
  backend/api-gateway/src/api_gateway/main.py
  backend/marketplace-publisher/src/marketplace_publisher/main.py
  backend/optimization/api.py
  backend/scoring-engine/scoring_engine/app.py
  backend/service-template/src/main.py
  backend/shared/http.py
  backend/shared/tests/test_http.py
  backend/signal-ingestion/src/signal_ingestion/main.py
Due: none

Register shutdown handlers and add test
  backend/api-gateway/src/api_gateway/main.py
  backend/feedback-loop/feedback_loop/main.py
  backend/marketplace-publisher/src/marketplace_publisher/main.py
  backend/monitoring/src/monitoring/main.py
  backend/monitoring/src/monitoring/metrics_store.py
  backend/optimization/api.py
  backend/optimization/storage.py
  backend/scoring-engine/scoring_engine/app.py
  backend/service-template/src/main.py
  backend/shared/http.py
  backend/signal-ingestion/src/signal_ingestion/main.py
  tests/test_shutdown.py
Due: none

Add shutdown cleanup and tests
  backend/feedback-loop/feedback_loop/main.py
  backend/feedback-loop/feedback_loop/scheduler.py
  backend/monitoring/src/monitoring/main.py
  tests/integration/test_shutdown_handlers.py
Due: none

Use EC2 waiter in label_node
  scripts/manage_spot_instances.py
Due: none

feat(trending): use streaming zscan and batched pipeline
  backend/signal-ingestion/src/signal_ingestion/trending.py
Due: none

Add exponential backoff to wait script
  README.md
  docs/scripts.rst
  scripts/wait_for_services.py
  tests/test_wait_for_services.py
Due: prettier

feat(trending): optimize keyword trimming
  backend/signal-ingestion/src/signal_ingestion/trending.py
  scripts/benchmark_trim_keywords.py
Due: none

Optimize bulk insertion
  backend/feedback-loop/feedback_loop/ingestion.py
  backend/signal-ingestion/src/signal_ingestion/tasks.py
  tests/performance/test_adapter_performance.py
Due: none

Optimize trim_keywords with batched pipeline
  backend/signal-ingestion/src/signal_ingestion/trending.py
Due: none

feat(signals): add pagination support
  frontend/admin-dashboard/app/signals/page.tsx
  frontend/admin-dashboard/src/pages/dashboard/index.tsx
Due: eslint, prettier

Add NumPy-style docstrings in optimization and monitoring
  backend/monitoring/src/monitoring/main.py
  backend/optimization/api.py
Due: none

feat(optimization): stream metrics queries
  backend/optimization/api.py
  backend/optimization/metrics.py
  backend/optimization/storage.py
  backend/optimization/tests/test_api_routes.py
  backend/optimization/tests/test_metrics_analyzer.py
Due: none

feat(optimization): batch metric insertion
  backend/optimization/api.py
  backend/optimization/storage.py
  backend/optimization/tests/test_materialized_view.py
  backend/optimization/tests/test_metrics_memory.py
  backend/optimization/tests/test_metrics_store.py
Due: none

Remove warnings filters and fix issues
  backend/api-gateway/src/api_gateway/audit.py
  tests/conftest.py
  tests/contracts/test_kafka_schemas.py
  tests/integration/test_full_flow.py
  tests/integration/test_idea_sqlite.py
  tests/integration/test_pipeline_metrics.py
  tests/integration/test_workflow.py
  tests/performance/test_adapter_performance.py
  tests/test_api.py
  tests/test_audit.py
  tests/test_cdn_invalidation.py
  tests/test_concurrency.py
  tests/test_maintenance_s3.py
  tests/test_metrics.py
  tests/test_metrics_endpoints.py
  tests/test_metrics_store.py
  tests/test_rotate_s3_keys.py
  tests/test_search_api.py
  tests/test_signal_constraints.py
  tests/test_trending_route.py
  tests/test_webhooks.py
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|md)$
  flow: any of: \.(js|jsx)$
  stylelint: any of: \.(css|scss)$
